

body {
    margin-top: 100px;
    background-color: #222;
    background: url(../img/bglight.png);
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}